<%=form_for @operator, method: :delete do |f| %>
  <% if @operator.errors.any? %>
    <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
      <ul>
        <% @operator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end -%>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-3">
        <div class="input-group-sm">
          <%= f.password_field :password, placeholder: "Password Here", class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group-sm">
          <%= f.submit "Submit", class: "btn btn-primary btn-sm"%>
        </div>
      </div>
    </div>
  </div>
<% end -%>
