<div class="row">
  <div class="col-sm-6"><%= render 'product_form'%></div>
  <div class="col-sm-6"><%= render 'payment_form'%></div>
</div>
<br>
<div class="row">
  <div class="col-sm-6"><%= render 'products_index' %></div>
  <div class="col-sm-6"><%= render 'payments_index'%></div>
</div>