

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
}

table { 
  border-spacing: 0;
  border: 1px solid #EBEBEB;
  background-color: transparent;
  border-collapse: collapse;

}
tr {
  width: 100%;
}
tr:hover {
  background: #e6eeff;
}

thead tr:hover {
  background-color: white;
}

td, th {
  padding: 8px;
}

/*tr:nth-child(even){background-color: #ddd;}*/

th {
  font-family: "Trebuchet MS", Bold, Helvetica, sans-serif;
  font-style: oblique;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: black;
  align-items: center;
}

input[type=submit] {
  background-color: lightblue;
  /*border-radius: 2px;*/
  border: none;
  padding: 5px 10px 5px 10px;
  margin: 4px 0px;
  font-size: 15px;
  color: black;
}
input[type=submit]:hover {
  background-color: blue;
  color: white;

}

.dropdown {
  background-color: white;
  border: 5;
  transition: .3s;
  height: 30px;
  width: 130px;
  display: inline-block;
}

.dropdwon:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

input[type=text]:focus, select:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
.password {
  padding: 5px;
}
.password:focus {
  padding: 5px;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.input_field_weight {
  height: 25px;
  width: 130px;
  padding: 1px 5px 0px 5px;
}

.link_back {
  padding: 5px 15px 5px 15px;
  margin: -20px 15px;
  text-decoration: none;
  color: black;
  background: lightblue;
}
.link_back:hover {
  color: white;
  background-color: blue;
  text-decoration: underline;
}

.link-blue {
  border: none;
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  background: cornflowerblue;
}

.link-blue:hover {
  background-color: #2196F3;
  color: black;
}

.link_show {
  color: black;
  background: lightblue;
  padding: 8px;
  text-decoration: none;
}

.link_show:hover {
  color: white;
  font-size: 20px;
  background: blue;
}
.link_edit {
  color: black;
  background: #ffecb3;
  padding: 8px;
  text-decoration: none;
}

.link_edit:hover {
  color: white;
  font-size: 20;
  background: orange;
}
.link_delete {
  color: black;
  background: #ffb3b3;
  padding: 8px;
  text-decoration: none;
}

.link_delete:hover {
  color: white;
  font-size: 20;
  background: red;
}

.link_exp {
  padding: 8px;
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  background-color: lightblue;
}
.link_exp:hover {
  color: white;
  background: blue;
  /*text-decoration: underline;*/
}

#header_name {
  animation-timing-function: ease-out;
  position: relative;
  color: lightcoral;
  margin: -10px 10px 0px 10px;
  animation: mymove 5s;
}

#link_logout {
  margin: 10px 10px 10px 10px;
}

#link_logout:hover {
  color: black;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 700px;}
}

.field {
  padding: 10px;
}

#login_table {
  background-color: white;
  padding: 25px;
  margin: 250px 25px 5px 750px;
}

#login_head {
  color: black;
  text-align: center;
  font-size: 50;
  background-color: lightblue;
}

#login_row:hover {
  background-color: white;
}

.text_login {
  padding: 8px 55px 8px 55px;
  margin: 5px 25px 5px 25px;
}

.login_btn {
  background-color: red;
  color: white;
}

#operator_record_table {
  margin: 10px 0px 0px 0px;
}

#operator_table_tr:hover {
  background-color: white
}

#operator_table {
  border: none;
  margin: -210px 0px 0px 0px;
}

#label_operator {
  color: black;
  padding: 10px 25px 10px 25px;
}

.txt_operator {
  color: black;
  padding: 3px 25px 5px 8px;
}

.link_back_record {
  padding: 8px 15px 8px 15px;
  margin: -10px 437px;
  text-decoration: none;
  color: black;
  background: lightblue;
}
.link_back_record:hover {
  color: white;
  background-color: blue;
  text-decoration: underline;
}

#customer_table_tr:hover {
  background-color: white;
}

#customer_table {
  border: none;
  margin: -190px 0px 0px 0px;
}

.txt_customer {
  color: black;
  padding: 3px 25px 5px 8px;
}

.txt_expense {
  color: black;
  padding: 8px 25px 8px 8px;
}

#expense_table {
  color: black;
  border: none;
  /*padding: -15px 25px 10px 25px; */
  margin: -120px 0px 0px 0px;
}
#expense_table_tr:hover {
  background-color: white;
}