<div class="col-sm-6">
  <%= form_for :customer, url: reports_customer_product_path, method: :get, remote: true do |f| %>
    <%=f.date_field :created_at%>
    <%= f.submit "Submit" %>
  <%end%>
  
</div><br><br>

<div id="searched-products">
  <%= render "products" %>
</div>