<div class="col-sm-6">
  <%= date_field_tag(:created_at, Date.today )%>
  <%=submit_tag :submit%>
</div><br><br>

<script>
function sync()
{
  var n1 = document.getElementById('n1');
  var n2 = document.getElementById('n2');
  n2.value = n1.value;
}
</script>
<input type="text" name="n1" id="n1" onkeyup="sync()">
<input type="text" name="n2" id="n2"/>