<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
  <body>
  <div class="row">
    <div class="col-sm-4">
    <h2 style="text-align:center">Owner Profile Card</h2>
      <div class="card">
        <%= image_tag("ravi.jpeg", width: '230px') %>
        <h1>Ravikiran Kadam</h1>
        <p class="title">Ruby On Rails Developer</p>
        <p>+91 9158 308 765</p>
        <p>Pune University</p>
        <div style="margin: 24px 0;">
          <a href="https://plus.google.com/105924259559603220820"><i class="fa fa-dribbble"></i></a> 
          <a href="https://www.twitter.com/in/theachyutkadam"><i class="fa fa-twitter"></i></a>  
          <a href="https://www.linkedin.com/in/achyut-kadam-445baa149/"><i class="fa fa-linkedin"></i></a>  
          <a href="https://www.facebook.com/achyut.kadam.946/photos_all?lst=100005548129116%3A100005548129116%3A1527692465"><i class="fa fa-facebook"></i></a> 
         </div>
         <p class="buttonInfo" >Contact</p>
        </div>
      </div>

      <div class="col-sm-4">
      <h2 style="text-align:center">Owner Profile Card</h2>
        <div class="card">
          <%= image_tag("surya.jpeg", width: '230px') %>
          <h1>Suryakant Kadam</h1>
          <p class="title">Owner Vishwkarma Mill</p>
          <p>+91 9673 151 454</p>
          <p>Pune University</p>
          <div style="margin: 24px 0;">
            <a href="https://plus.google.com/105924259559603220820"><i class="fa fa-dribbble"></i></a> 
            <a href="https://www.twitter.com/in/theachyutkadam"><i class="fa fa-twitter"></i></a>  
            <a href="https://www.linkedin.com/in/achyut-kadam-445baa149/"><i class="fa fa-linkedin"></i></a>  
            <a href="https://www.facebook.com/achyut.kadam.946/photos_all?lst=100005548129116%3A100005548129116%3A1527692465"><i class="fa fa-facebook"></i></a> 
         </div>
         <p class="buttonInfo" >Contact</p>
        </div>
      </div>

      <div class="col-sm-4">
      <h2 style="text-align:center">Owner Profile Card</h2>
        <div class="card">
          <%= image_tag("achyut2.jpg", width: '230px') %>
          <h1>Achyut Kadam</h1>
          <p class="title">Ruby On Rails Developer</p>
          <p>+91 9673 151 454</p>
          <p>Pune University</p>
          <div style="margin: 24px 0;">
            <a href="https://plus.google.com/105924259559603220820"><i class="fa fa-dribbble"></i></a> 
            <a href="https://www.twitter.com/in/theachyutkadam"><i class="fa fa-twitter"></i></a>  
            <a href="https://www.linkedin.com/in/achyut-kadam-445baa149/"><i class="fa fa-linkedin"></i></a>  
            <a href="https://www.facebook.com/achyut.kadam.946/photos_all?lst=100005548129116%3A100005548129116%3A1527692465"><i class="fa fa-facebook"></i></a> 
           </div>
           <p class="buttonInfo" >Contact</p>
          </div>
        </div>

    </div>
  </body>
</html>